@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Protest';
    src: url("./assets/fonts/ProtestRevolution-Regular.ttf");
}
@font-face {
    font-family: 'Anton';
    src: url("./assets/fonts/Anton-Regular.ttf");
}
@font-face {
    font-family: 'Kode';
    src: url("./assets/fonts/KodeMono-Regular.ttf");
}
@font-face {
    font-family: 'Anta';
    src: url("./assets/fonts/Anta-Regular.ttf");
}

.text-gradient {
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(to right, #fff, red);
}

/* .glass {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px); 
  } */
 
  .filtered-image {
    filter: brightness(0) invert(1) grayscale(1);
  }

  /* Width */
::-webkit-scrollbar {
    width: 0px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: black;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: black;
  }
  
  